<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Guarranteed Pricing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2BADD921C9CA9C700AACD71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2BADDA61C9CA9C800AACD71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2BADDB11C9CA9C800AACD71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
